body {
    font-family: "Nunito", sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
  }
  #heading {
    text-align: center;
    padding-top: 20px;
  }
  .container {
    background: transparent;
    display: inline-flex;
    gap: 150px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 50px;
    padding-bottom: 0 ;
    justify-content: center;
  }
  #card-one {
    height: 400px;
    width: 500px;
  }
  #card-two {
    height: 400px;
    width: 500px;
  }
  #card-third {
    height: 400px;
    width: 500px;
  }
  .img-card {
    position: relative;
    top: 40px;
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }
  .animation {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  .animation:hover {
    transform: scale(1.1);
  }
  